@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Regular";
    src: local("InstrumentSans-Regular"),
    url('./assets/Instrument_Sans/static/InstrumentSans-Regular') format("truetype");
}
@font-face {
    font-family: "Medium";
    src: local("InstrumentSans-Medium"),
    url('./assets/Instrument_Sans/static/InstrumentSans-Medium.ttf') format("truetype");
}
@font-face {
    font-family: "Bold";
    src: local("InstrumentSans-Bold"),
    url('./assets/Instrument_Sans/static/InstrumentSans-Bold.ttf') format("truetype");
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}